@import url(reset.css);
@import url(font.css); 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*{box-sizing: border-box;}

html{scroll-behavior: smooth;}
body{font-family: "Noto Sans", sans-serif;}


/* top button */

@keyframes goto-ani{
  0%,100%{transform: translateY(0);}
  50%{transform: translateY(-20%);}
}
.goto-top{
  animation: goto-ani 1.5s linear infinite;
  position: fixed;
  right: 20px;
  bottom: 70px;
  font-size: 38px;
  height: 50px;
  line-height: 0;
  color: darkkhaki;
  box-shadow: 2px 2px 7px rgba(189,183,107,0.7);
  border-radius: 30px;
  z-index: 998;

}
/* Header________________________________________ */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 999;
}
#header-inner{
  width: 1300px;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  width: 180px;
  height: 45px;
}
.gnb{
  display: flex;
  column-gap: 60px;
}
.gnb a{
  font-size: 18px;
  font-weight: 500;
  transition: 0.35s;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
}

.gnb a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display:block;
  margin: -5px 0;
}
.gnb a:hover:before{width: 100%;}


/* Main__________________________________________ */

.logoing{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 865px;
  position: relative;
  background-color: #000;
  margin-top: 80px;
}

@keyframes ani-logo{100%{transform: rotate(360deg);}}

.ani-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ani-logo img{
  width: 130px;
  height: 128px;
  display: inline-block;
  animation: ani-logo 3s linear infinite;
}
.logo2:hover .logoing{display: none;}

.nav{
  width: 1300px;
  height: 865px;
  display: flex;
  margin: 80px auto 0 auto;
  overflow: hidden;
}
.nav .main-right{
  position: relative;
  text-align: center;
  margin: auto;
}
.nav .main-right h1{
  font-size: 20px;
  font-weight: 600;
  color: orange;
}

@keyframes circle-ani{
    0%,100%{transform: translateY(0);}
    50%{transform: translateY(-20%);}
  }
.nav .main-right h1.circle{
  position: relative;
  width: 250px;
  height: 50px;
  margin: auto; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: circle-ani 1.5s linear infinite;
}

.nav .main-right h1.circle:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid orange;
}

.nav .main-right p{
  margin-top: 40px;
  font-size: 17px;
  color: #333;
}
.nav .main-right span{
  font-size: 17px;
  color: orange;
  font-weight: 500;
}

.nav .main-right a{
  display: inline-block;
  border: 1px solid darkorange;
  background-color: orange;
  border-radius: 20px;
  margin-top: 30px;
  padding: 7px 15px;
  color: #fff;
  opacity: 1;
  transition: 0.35s;
}
/* hover 효과 */
.main-right a:hover{
  opacity: 1;
  background-color: #fff;
  color: orange;
  border: 1px solid darkorange;
  font-weight: 500;
}


/* Section_______________________________________ */

/* (01) about----------------------------- */

.about{
  height: 865px;
  margin-top: 80px;
}
.about h2{
  width: 1300px;
  font-size: 35px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 20px auto;
  padding-top: 90px;
  color: #333;
}
.bg1{
  width: 100%;
  background: linear-gradient(to bottom, #F2E7BB,#F9D377,#8AD7AE,#47CEB3)100%;
  height: 367px;
  position: relative;
}
@keyframes fade{
  0%,100%{opacity: 0;}
  10%{opacity: 1;}
  40%{opacity: 1;}
  50%{opacity: 0;}
}
.bg11,
.bg11-1{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 367px;
  opacity: 0;
  animation: fade 8s infinite ease-in-out;
}
.bg1 img:nth-child(1){animation-delay: 0s;}
.bg1 img:nth-child(2){animation-delay: 4s;}

.list{
  display: flex;
  width: 1300px;
  height: 350px;
  margin: 70px auto;
  position: relative;
}
.list2 a{margin-top: 50px;}

.list .story,
.list .contact{
  position: absolute;
  top: 0;
  left: 0;
  color: darkolivegreen;
  font-size: 26px;
  font-weight:600;
  text-transform: capitalize;
  margin-right: 70px;
  width: 300px;
  height: 50px;
  text-align: right;
  padding-left: 10px;
}

.inner-story,
.inner-contact{
  display: flex;
  width: 700px;
  position: absolute;
  top: 0;
  left: 370px;
  transition: 0.2s cubic-bezier(.17,.67,.83,.67);
}
.inner-story{opacity: 1;}
.inner-contact{
  flex-direction: column;
  opacity: 0;
  background-color: #fff;
}
/* hover 효과 */
.list2:hover .inner-contact{opacity: 1;}
.list1:hover .story,
.list2:hover .contact{text-shadow: 5px 5px 10px rgba(255, 241, 50, 0.6);}

.inner-story p{
  font-size: 15px;
  line-height: 25px;
}
.inner-contact p{
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}
.inner-contact span{
  font-size: 14px;
  line-height: 18px;
}

/* (02) collabo----------------------------- */
.collabo{
  height: 865px;
  margin-top: 80px;
}
.collabo h2{
  color: #333;
  padding-top: 90px;
  width: 1300px;
  font-size: 35px;
  font-weight: 800;
  text-transform: capitalize;
  margin:20px auto;
  background-color: #fff;
}
.imgs{
  height: 800px;
  width: 100%;
  background:linear-gradient(to bottom, #FFF4CA, #FFDE9F, #FFC78D, #FFA748, transparent);
}

.img,
.img-1{
  width: 1300px;
  height: 400px;
  display: flex;
  margin: auto;
}
.img-1{margin-top: 50px;}
.img-item,
.img-item-1{
  width: 250px;
  height: 350px;
  display: flex;
  position: relative;
  object-fit: cover;
}
.img-item{ margin: 45px 0 0 60px;}
.img-item-1{margin: 15px 0 0 135px;}

.img-item img,
.img-item-1 img{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 300px;
}
.caption,
.caption-1{
  width: 250px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  text-align: center;
  background-color: darkkhaki;
  background: rgba(189,183,107,0.9);
  color: #222;
  padding-top: 50px;
  opacity: 0;
  transition: 0.35s linear;
  font-weight: normal;
  }
  .img-p,
  .img-p-1{
    text-align: center;
    width: 250px;
    display: inline-block-flex;
    position: absolute;
    bottom: -5px;
    left: 0;
    color: #80522B;
  }
  .img-p p,
  .img-p-1 p{
    font-size: 13px;
    font-weight: 500;
  }
   /* hover 효과 */
  .img-item:hover .img-p,
  .img-item-1:hover .img-p-1{
    cursor: pointer;
    font-style: italic;
  }
  .img-item:hover .caption,
  .img-item-1:hover .caption-1{opacity: 100%;}
  .img-p span,
  .img-p-1 span{
    font-size: 15px;
    font-weight: normal;
    }

    /* (03) shop----------------------------- */

  .shop{
    height: 865px;
    margin-top: 80px;
}
  .shop h2{
    color: #333;
    width: 1300px;
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 20px auto;
    padding-top: 90px;
}
  .container{
    height: 1100px;
    width: 100%;
    background:linear-gradient(to bottom, #FFB7BA, #FFA6A8, #ABB9E7, #54CCE2, transparent);
  }

  .title{
    width: 1300px;
    margin: auto;
    position: relative;
  }
  .title h3{
    color: #FF7184;
    margin: 0 20px 20px 20px;
    padding-top: 50px;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #FF7184;
  }
  .items,
  .items-1{
    width: 1300px;
    height: 360px;
    display: flex;
   /*  margin-bottom: 70px; */
  }
  .items-1{margin-top: 110px;}
  .item,
  .item-1{
    width: 300px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 0 0 20px;
}
  .item img,
  .item-1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 360px;
    background-color: #F2F2F2;
}  

  .item-sub,
  .item-sub-1{
    color: #fff;
    position: absolute;
    bottom: -110px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 15px; 
    height: 360px;
    text-align: center;
    transition: 0.8s linear;
    opacity: 0;
    padding-top: 20px;
  }
  .item-sub{background: linear-gradient(to bottom, #FF7184 50%, transparent);}
  .item-sub-1{background: linear-gradient(to bottom, #2faac0 50%, transparent);}
  
  .item .item-sub .btn,
  .item-1 .item-sub-1 .btn-1{
    background-color: rgba(43, 40, 40, 0.39);
    color: #fff;
    border-radius: 15px;
    padding: 7px 20px;
    opacity: 0.8;
    transition: 0.35s;
    margin-bottom: 50px;
    font-size: 14px;
  }

  /* hover 효과 */
  .item .item-sub:hover,
  .item-1 .item-sub-1:hover{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
  .item:hover .item-sub,
  .item-1:hover .item-sub-1{cursor: pointer;}

  .item .item-sub .btn:hover,
  .item-1 .item-sub-1 .btn-1:hover{
    color: #fff;
    opacity: 1;
  }
  .item .item-sub .btn:hover{background-color: #333333;}
  .item-1 .item-sub-1 .btn-1:hover{background-color: #333333;}

  .item-sub p,
  .item-sub-1 p{
    width: 300px;
    height: inherit;
    font-size: 12.5px;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
  }

  .item-sub span,
  .item-sub-1 span{
    font-weight: 500;
  }
  .item-fts,
  .item-fts1{
    text-align: center;
    width: 1300px;
    height: 50px;
    display: flex;
    position: absolute; 
  }
  .item-fts{
    top: 51%;
    left: 0;
  }
  .item-fts1{
    top: 101%;
    left: 0;
  }
  .item-ft,
  .item-ft1{
    width: 300px;
    height: 50px;
    margin-left: 20px;
    color: #fff;
  }

  .item-ft p,
  .item-ft1 p{
    font-size: 15px;
    font-weight: 500;
  }
  .item-ft span,
  .item-ft1 span{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }

  /* (04) event----------------------------- */
  
  .event{
    height: 865px;
    margin-top: 280px;
}
  .event h2{
    color: #333;
    width: 1300px;
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 20px auto;
    padding-top: 100px;
}

  .icons{
    border-top: 5px solid #fcfcfc;
    position: relative;
    height: 710px;
    width: 100%;
    background-color: #fff;

  }
  @keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-350px); } /* 위로 튀기 */
    100% { transform: translateY(0); }
  }

  .ball{
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: bounce 4s infinite ease-in-out alternate;
  }

  .ball:nth-child(1) { left: 10%; background: #ffa5a5; animation-duration: 3s; }
  .ball:nth-child(2) { left: 30%; background: #caffca; animation-duration: 4.5s; }
  .ball:nth-child(3) { left: 50%; background: #b2b2ff; animation-duration: 3.5s; }
  .ball:nth-child(4) { left: 70%; background: #ffffab; animation-duration: 5s; }
  .ball:nth-child(5) { left: 90%; background: #ffbfff; animation-duration: 4s; }

  .icons h3{
    font-family: 'YeogiOttaeJalnan';
    color: darkorange;
    width: 1300px;
    margin: 20px auto 30px auto;
    text-align: left;
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
  }
  .icons h3:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: darkorange;
    transition: 0.35s;
  } 
  .icons h3:hover:before{width: 100%;}
  
  .icons h3 b{
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
  }

  .icon-inners{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    width: 1300px;
    height: 270px;
    perspective: 1000px;
    cursor: pointer;
  }
  .icon{
    width: 160px;
    height: 160px;
    margin-top: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.35s;
  }
  .icon-inners:hover .icon{transform: rotateY(180deg);}
  .icon>div{
    position: absolute;
    height: 100%;
  }

  .icon .icon-front img{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;

  }
  .icon .icon-back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .icon .icon-back img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
  .icon-inner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1180px;
    height: 100px;
    text-align: center;
  }
  .icon-inner .icon-inner-1{
    width: 250px;
    line-height: 20px;
  }

  .icon-inner p{
    margin-top: 10px;
    font-weight: 600;
  }
  .icon-inner span{
    font-size: 13px;
    font-weight: 400;
  }
  .icon-inner-1 a{
    display: inline-block;
    background-color: darkolivegreen;
    color: #fff;
    padding: 3px 15px;
    font-size: 13px;
    border-radius: 20px;
    margin-top: 10px;
  }
  .randombox{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1300px;
    height: 300px;
    margin: 40px auto;
    position: relative;
    background-color: khaki;
    overflow: hidden;
    margin-top: 100px;
  }
  .rd-inner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 300px;
    height: 280px;
    background-color: #fff;
    font-size: 14px;
    padding-top: 15px;
    margin-left: 10px;
    box-shadow: 0 0 15px rgba(189,183,107,0.7);
  }

  .rd-inner h4{
    font-family: 'YeogiOttaeJalnan';
    color: darkorange;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 28px;
  }
  .rd-inner p{color: #333;}

  .shop-btn{
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    transition: width 0.4s ease;
    width: 40px; 
    height: 40px;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
  }
  .shop-icon{    
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkolivegreen;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0; 
  }

  .shop-icon i{
    font-size: 24px;
    color: #fff;
  }

  .btn-text{
    white-space: nowrap;
    color: darkolivegreen;
    font-weight: bold;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  /* hover효과 */
  .shop-btn:hover {
    border: 1px solid darkolivegreen;
    width: 160px;
    background-color: #fff;
  }

  .shop-btn:hover .btn-text {
    opacity: 1;
  }

  @keyframes rdphoto-ani{
  0%{transform: translateX(0);}
  100%{transform: translateX(-100%);}
  }

  .rd-photo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 350px;
    width: 950px;
    height: 300px;
    white-space: wrap;
    overflow: hidden;
  }
  .rd-photo img{
    width: 250px;
    height: 280px;
    object-fit: cover;
  }

  .rd-photo img{animation: rdphoto-ani 10s linear infinite;}

/* Footer________________________________________ */

footer{
  background-color: #000;
  text-align: center;
  margin-top: 200px;
  padding: 30px 0;
}
footer address{
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
}